/.vs/
/bin/
/out/
/tests/.vs/
/tests/bin/
/tests/out/
/gui/resource.h
/gui/Info.plist
/gui/.vs/
/guis/bin/
/gui/out/
/html/
/CMakeSettings.json
/doxyerrors.txt
/docs/html
/docs/manual/.quarto
/gui/resource.h
