// Microsoft Visual C++ generated resource script.
//
#include "resource.h"

#define APSTUDIO_READONLY_SYMBOLS

#include "windows.h"

/////////////////////////////////////////////////////////////////////////////
#undef APSTUDIO_READONLY_SYMBOLS

/////////////////////////////////////////////////////////////////////////////
// English (United States) resources

#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_ENU)
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US

/////////////////////////////////////////////////////////////////////////////
//
// Menu
//

WXWINDOWMENU MENU
BEGIN
    POPUP "&Window"
    BEGIN
        MENUITEM "&Cascade",                    4002
        MENUITEM "Tile &Horizontally",          4001
        MENUITEM "Tile &Vertically",            4005
        MENUITEM "",                            65535
        MENUITEM "&Arrange Icons",              4003
        MENUITEM "&Next",                       4004
    END
END


/////////////////////////////////////////////////////////////////////////////
//
// Icon
//

// Icon with lowest ID value placed first to ensure application icon
// remains consistent on all systems.
WXICON_AAA              ICON                    "app-logo.ico"


/////////////////////////////////////////////////////////////////////////////
//
// Version
//

VS_VERSION_INFO VERSIONINFO
 FILEVERSION _CUNEIFORM_FILE_VERSION_RC
 PRODUCTVERSION _CUNEIFORM_PRODUCUCT_VERSION_RC
 FILEFLAGSMASK 0x17L
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x4L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904b0"
        BEGIN
            VALUE "CompanyName", _CUNEIFORM_PUBLISHER
            VALUE "FileDescription", _CUNEIFORM_DESCRIPTION
            VALUE "FileVersion", _CUNEIFORM_PROGRAM_VERSION_RC
            VALUE "InternalName", _CUNEIFORM_DESCRIPTION
            VALUE "LegalCopyright", _CUNEIFORM_COPYRIGHT_RC
            VALUE "OriginalFilename", _CUNEIFORM_BINARY_NAME
            VALUE "ProductName", _CUNEIFORM_DESCRIPTION
            VALUE "ProductVersion", _CUNEIFORM_PROGRAM_VERSION_RC
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200
    END
END

#endif    // English (United States) resources
/////////////////////////////////////////////////////////////////////////////
